/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 100vh; /* Use the full height of the viewport */
  width: 100vw; /* Use the full width of the viewport */
}

.editor-container, .preview-container {
  width: 50%; /* Split the width */
  height: 100%; /* Use the full height */
}

textarea {
  width: 100%; /* Use the full width of its container */
  height: calc(100% - 20px); /* Adjust height to fill container, accounting for padding/margin */
  border: none;
  padding: 10px;
}

#preview {
  width: 100%; /* Use the full width of its container */
  height: 100%; /* Use the full height */
  overflow-y: auto; /* Add scroll for overflow content */
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
